<!DOCTYPE html>
<html lang="ja">
<bodhandy>
   {% if user.id %}
   <p>ログインしました．</p>
   <p>こんにちは，{{ user.username }}さん</p>
   <p>{{ user.id }}</p>
   <p>営業先を選んでください</p>
    <!-- {% for partner in partners %}
    <div>
      <a class="btn btn-default" href="{% url 'topic_deck' user_id=user.id partner_id=partner.pk %}">{{ partner.name }}
         : {{ partner.belongs }}</a>
    </div>
    {% endfor %} -->
   {% for partner in partners %}
   <div>
      <a class="btn btn-default" href="{% url 'test' user_id=user.id partner_id=partner.pk %}">{{ partner.name }}
         : {{ partner.belongs }}</a>
   </div>
   {% endfor %}

    <a href="{% url 'add_partner' user_id=user.id %}">クライアント追加</a>

   <a href="{% url 'logout' %}">ログアウトする</a>
   {% else %}
   <a href="{% url 'login' %}">ログイン</a>
   <a href="{% url 'create_account' %}">アカウント作成</a>
   {% endif %}
</bodhand y>

</html>