<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% load static %}
  <link rel="stylesheet" href="{% static 'style.css' %}">
  <title>オレのAIの話題提示が最強すぎる件</title>
</head>


  <div id="header">
    <div id="header-container">
      <div class="logo"><img class="logo-image" src="{% static 'img/title.png' %}"></div>
    </div>
  </div>
  <body>
  <div class="leftnav">
  </div>
  <div class="mainarea">
        <p>営業先を選んでください</p>
        {% for partner in partners %}
        <div>
            <a class="btn btn-default" href="{% url 'topic_deck' user_id = pk partner_id = partner.pk %}"><button class="button">{{ patrner.name }} : {{ partner.belongs }}</button></a>
        </div>
        {% endfor %}
      </div>
      <div class="rightnav">
      </div>
      <div id="footer">
        <img class="logo-image" src="{% static 'img/title.png' %}"><br>
        Copyright©2022 Intelligent Create Topics Inc. All Rights Reserved
      </div>
      </body>

      </html>
